*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 60px;
	background-color: #322F2F;
}
header h1{
	float: left;
	color: white;
	margin-left: 60px;
	margin-top: 10px;
}
header ul{
	float: right;
	margin-top:20px;
}
header li{
	float: left;
	width: 100px;
}
header li a{
	color: white;
}


article{
    border:20px solid #C9C0C0;
    padding: 40px 20px;  
}
article h3{
	color: #615757;
}
article span{
	display: block;
	color: #615757;
}
article p{
	text-indent: 2em;
}
article{
    border:20px solid #C9C0C0;
}
article img{
	border: 2px solid #131212;
}
article ul{
	list-style: none;
    text-indent: 2em;
}


.picture{
	border:20px solid #C9C0C0;
    padding: 40px 20px;  
}
.pic{
	height: 250px;
	width: 240px;
	border:4px solid #C9C0C0;
	margin: 20px 40px;
}
.pic p{
	text-align: center;
	margin:0 auto;
	padding:5px 0;
}
.pic img{
	margin:0 20px;
	border: 2px solid #131212;
}

article ol{
	margin-left: 40px;
	margin-bottom: 20px;
}

#pp{
	text-indent: 0em;
}
table{
	width: 100%;
	border: 1px solid #B4AFAF;
}
thead{
	background-color:#434141;
}
tfoot{
	background-color: #D1CACA;
}
th{
	color: white;
	padding-left: 20px;
}
td{
	padding-left: 20px;
}






aside{
    border:20px solid #C9C0C0;
    padding: 40px 20px;  
}
aside h2{
	border-left: 4px solid #C9C0C0;
	padding-left: 20px;
}


.form1 {
	position: relative;
}
.form1 label{
	position: absolute;
	right: 70%;
}
.form1 input{
	position: absolute;
	left: 30%;
}
.form1 p{
	margin-left: 30%;
	color: #A59F9F;
}


.form2{
	position: relative;
}
.div{
	position: absolute;
	left: 30%;
}
.form2 label{
	position: absolute;
	right: 70%;
}
textarea{
	width: 100%;
	height: 50px;
}
button{
	width: 100%;
}




footer{
	width: 100%;
	height: 60px;
	background-color: #322F2F;
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	color: white;
}